<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692868287416-ql8lfs3rc6igf78vmmvov8mhspi5cd3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692868287416-ql8lfs3rc6igf78vmmvov8mhspi5cd3c</string>
	<key>API_KEY</key>
	<string>AIzaSyCKAI8nv5fj7eTV6t2r3rs-FmsJ3BuUV_M</string>
	<key>GCM_SENDER_ID</key>
	<string>692868287416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connect</string>
	<key>PROJECT_ID</key>
	<string>connect-9e78f</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-9e78f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692868287416:ios:8578595aa9c79742f29d4d</string>
</dict>
</plist>